<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head.ejs') %>
        <title>
            <%= title %>
        </title>
</head>


<body>
    <div class="container about text-center" id="about">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4" id="square-about">
                <div class="d-flex flex-column align-items-center">
                    <img data-aos="zoom-in" data-aos-duration="2000" src="/img/perfil-1.png" alt="Foto"
                        class="img-fluid mb-3 rounded-circle" id="img-about">
                    <div class="ml-3 description">
                        <h2 class="mb-3 text-center text-md-left mt-3" data-aos="fade-down" data-aos-duration="2000">
                            <div id="title-about">
                                <span>S</span>OBRE MÍ
                            </div>
                        </h2>
                        <p class="text-center" data-aos="zoom-in" data-aos-duration="2000">
                            Soy un desarrollador de software con amplia experiencia en frontend, backend y bases de
                            datos. Apasionado autodidacta y al tanto de las últimas tendencias tecnológicas como
                            lenguajes de programación, seguridad informática, diseño 3D, realidad aumentada e
                            inteligencia artificial. Me destaco por ser un desarrollador creativo, orientado a
                            soluciones y capaz de abordar desafíos técnicos complejos. Trabajo de manera efectiva en
                            equipo y, mi objetivo es proporcionar resultados de alta calidad que superen las
                            expectativas
                            de los clientes.

                        </p>
                        <div class="text-center mt-3" data-aos="zoom-in" data-aos-duration="2000">
                            <a download="CV-Diego-Alias" href="/archivos/CV-Diego Alias.pdf"
                                class="btn btn-primary btn-sm" id="btn-about">Descargar currículum</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>