<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/about.css">
    <%- include('partials/head.ejs') %>
        <title>
            <%= title %>
        </title>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-JLE5YPJPYT"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'G-JLE5YPJPYT');
        </script>
</head>


<body>
    <div class="container about text-center" id="about">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4" id="square-about">
                <div class="d-flex flex-column align-items-center">
                    <img data-aos="zoom-in" data-aos-duration="2000" src="/img/perfil-1.png" alt="Foto"
                        class="img-fluid mb-3 rounded-circle" id="img-about">
                    <div class="ml-3 description">
                        <h2 class="mb-3 text-center text-md-left mt-3" data-aos="fade-down" data-aos-duration="2000">
                            <div id="title-about">
                                <span>S</span>OBRE M
                            </div>
                        </h2>
                        <p class="text-center text-about" data-aos="zoom-in" data-aos-duration="2000">
                            隆Hola! Soy Diego Alias, especialista en desarrollo de software con s贸lida experiencia en
                            frontend, backend y bases de datos.  Mi pasi贸n por la creatividad y la resoluci贸n de
                            desaf铆os t茅cnicos complejos me distingue en el mundo del desarrollo. 

                            Como autodidacta, me mantengo al tanto de las 煤ltimas tendencias tecnol贸gicas, desde
                            lenguajes de programaci贸n hasta dise帽o 3D e inteligencia artificial.  Trabajo eficazmente
                            en equipo y estoy comprometido a llevar tus proyectos al siguiente nivel.

                        </p>
                        <div class="text-center mt-3" data-aos="zoom-in" data-aos-duration="2000">
                            <a download="CV-Diego-Alias" href="/files/CV_Diego_Alias.pdf" class="btn btn-primary btn-sm"
                                id="btn-about">Descargar curr铆culum</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>