<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/myworks.css">
    <%- include('partials/head.ejs') %>
        <title>
            <%= title %>
        </title>
</head>

<body class="body">
    <div>
        <a href="/" id="miBoton" class="animate__animated animate__bounce">Volver</a>
    </div>
    <div class="myworks text-center">
        <h2><span>M</span>IS PROYECTOS</h2>
    </div>

    <header class="myworks-header">
        <div class="container mt-5">
            <div class="row myworks-row">
                <div class="col-md-6">
                    <div class="myworks-img-right-1">
                        <h3 data-aos="fade-right" data-aos-duration="2000">ECG VET
                        </h3>
                        <p data-aos="fade-right" data-aos-duration="2500">Un corazón sano, una vida plena.</p>
                        <p data-aos="fade-right" data-aos-duration="3000">Plataforma para controlar el ritmo cardiaco de
                            tu mascota a través de imágenes similares a un
                            electrocardiograma.
                            <span><a href="https://graphql-sequelize-mysql-express-ecg-vet-app.vercel.app/"
                                    target="_blank" id="myworks-span">
                                    Ver
                                    sitio</a></span></a>
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="myworks-img-left-1">
                        <video class="mb-4 video-mywork" autoplay muted loop alt="" data-aos="fade-left"
                            data-aos-duration="2000">
                            <source src="/img/ecg.ogv" type="video/ogv">
                            <source src="/img/ecg-compress.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-5">
            <div class="row myworks-row">
                <div class="col-md-6">
                    <div class="myworks-img-left-1">
                        <img class="mb-4" src="/img/Telemetricas.png" id="myworks-img-1" alt="" data-aos="fade-right"
                            data-aos-duration="2000">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="myworks-img-right-1">
                        <h3 data-aos="fade-left" data-aos-duration="2000">Telemetrix</h3>
                        <p data-aos="fade-left" data-aos-duration="2500">
                            Esta plataforma consiste en desarrollar un sistema de visualización
                            utilizando las interfaces de la libreria de highcharts destinadas a las industrias en
                            general.
                        <p data-aos="fade-left" data-aos-duration="3000">El sitio cuenta con funcionalidades completas
                            de CRUD (crear, leer,
                            actualizar y eliminar) para gestionar usuarios, lo cual incluye la capacidad de modificar
                            los sectores y los dispositivos asociados a cada sector.

                            Esta plataforma proporciona una solución integral para el monitoreo de dispositivos remotos,
                            ofreciendo a los usuarios una experiencia fácil de usar y segura para supervisar los
                            parámetros físicos relevantes en sus industrias.<span><a
                                    href="https://telemetrics-five.vercel.app/" target="_blank" id="myworks-span">
                                    Ver
                                    sitio</a></span></a></p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-5">
            <div class="row myworks-row">
                <div class="col-md-6">
                    <div class="myworks-img-right-1">
                        <h3 data-aos="fade-right" data-aos-duration="2000">Sitio web de credenciales para centro médico
                        </h3>
                        <p data-aos="fade-right" data-aos-duration="2500">El objetivo de esta plataforma consistió en
                            desarrollar un sistema para la
                            generación y administración de credenciales destinadas a los beneficiarios del centro
                            médico.
                            Como administrador del sitio, se disponía de funcionalidades completas de CRUD (crear, leer,
                            actualizar y eliminar) para gestionar los usuarios, incluyendo la capacidad de modificar las
                            credenciales y detallar los parentescos correspondientes.</p>
                        <p data-aos="fade-right" data-aos-duration="3000">Esta plataforma ofreció una solución integral
                            para la gestión de credenciales, brindando a
                            los usuarios una experiencia sencilla y segura en el centro médico.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="myworks-img-left-1">
                        <img class="mb-4" src="/img/WebSiteMedicina.png" id="myworks-img-1" alt="" data-aos="fade-left"
                            data-aos-duration="2000">
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-5">
            <div class="row myworks-row">
                <div class="col-md-6">
                    <div class="myworks-img-left-1">
                        <img class="mb-4" src="/img/Eccomerce-practice.png" id="myworks-img-1" alt=""
                            data-aos="fade-right" data-aos-duration="2000">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="myworks-img-right-1">
                        <h3 data-aos="fade-left" data-aos-duration="2000">Ecommerce</h3>
                        <p data-aos="fade-left" data-aos-duration="2500">Proyecto realizado como parte del programa de
                            formación del Instituto Belgrano, con enfoque
                            en el lenguaje de programación JAVA.</p>

                        <p data-aos="fade-left" data-aos-duration="3000">El objetivo principal del proyecto fue
                            desarrollar un sitio web de comercio electrónico
                            funcional. El sitio permitía mostrar una amplia variedad de productos, junto con sus
                            detalles correspondientes. Además, se implementó una funcionalidad automática que permitía
                            visualizar los nuevos productos agregados al sitio de manera inmediata.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-5">
            <div class="row myworks-row">
                <div class="col-md-6">
                    <div class="myworks-img-right-1">
                        <h3 data-aos="fade-right" data-aos-duration="2000">Poke Api</h3>
                        <p data-aos="fade-right" data-aos-duration="2500">Proyecto desarrollado como parte del programa
                            de formación de LabsXD, centrado en el lenguaje
                            de programación APEX.</p>
                        <p data-aos="fade-right" data-aos-duration="3000">El objetivo del proyecto consistió en crear un
                            sitio web capaz de invocar la API de
                            "PokeApi" para mostrar imágenes de todos los pokémones disponibles. Además, al hacer clic en
                            cada pokémon, se mostraban detalladamente sus habilidades. Un aspecto importante del
                            proyecto fue garantizar la capacidad de respuesta del sitio, adaptándose a diferentes
                            dispositivos y tamaños de pantalla.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="myworks-img-left-1">
                        <img class="mb-4" src="/img/PokeApp1.png" id="myworks-img-1" alt="" data-aos="fade-left"
                            data-aos-duration="2000">
                    </div>
                </div>
            </div>
        </div>

    </header>

</body>

<footer class="pt-4 footer-myworks">
    <%- include('partials/footer.ejs') %>
</footer>

</html>