<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head.ejs') %>
        <title>
            <%= title %>
        </title>
</head>

<body>

    <div class=" container skill" id="skills">
        <div class="row justify-content-center">
            <div class="" id="square-skill">
                <div class="ml-3" data-aos="fade-down" data-aos-duration="2000">
                    <h2 class="text-center mb-4" id="title-skill">
                        <span>H</span>ABILIDADES
                    </h2>
                    <div class="icon mt-3" data-aos="zoom-in" data-aos-duration="2000">
                        <i class="fa-brands fa-html5" title="HMTL"></i>
                        <i class="fa-brands fa-css3-alt" title="CSS"></i>
                        <i class="fa-brands fa-js" title="JavaScript"></i>
                        <i class="fa-brands fa-react" title="React"></i>
                        <i class="fa-brands fa-bootstrap" title="Bootstrap"></i>
                        <i class="fa-brands fa-java" title="JAVA"></i>
                        <i class="fa-brands fa-unity" title="Unity"></i>
                        <div class="row justify-content-center mt-3">
                            <div class="col-auto">
                                <div class="icon-container">
                                    <i class="ri-blender-line" id="blender-ico" title="Blender"></i>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="icon-container">
                                    <i class="devicon-threejs-original" id="threejs-ico" title="Three.JS"></i>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="icon-container">
                                    <i class="fab fa-node-js" title="Node.JS"></i>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="icon-container">
                                    <i class="fas fa-database" title="Data Base"></i>
                                </div>
                            </div>
                        </div>
                        <i class="fa-brands fa-git-alt" title="Git"></i>
                        <i class="fa-brands fa-github" title="GitHub"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>