<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/work.css">
    <%- include('partials/head.ejs') %>
        <title>
            <%= title %>
        </title>
</head>

<body class="body-work">

    <body class="body-work">
        <div class="container" id="work">
            <div class="row justify-content-center">
                <div class="" id="square-work">
                    <div class="description-skill" data-aos="fade-down" data-aos-duration="2000">
                        <h2 class="text-center" id="title-skill">
                            <span>P</span>ROYECTOS
                        </h2>
                        <div class="slider">
                            <div class="slide-track">
                                <div class="slide">
                                    <h4>Telemetric</h4>
                                    <img src="/img/img-telemetric.png" alt="" id="img-work">
                                </div>
                                <div class="slide">
                                    <h4>Medic</h4>
                                    <img src="/img/img-medic.png" alt="" id="img-work">
                                </div>
                                <div class="slide">
                                    <h4>Drones</h4>
                                    <img src="/img/img-drones.png" alt="" id="img-work">
                                </div>
                                <div class="slide">
                                    <h4>PokeAPI</h4>
                                    <img src="/img/img-poke.png" alt="" id="img-work">
                                </div>
                                <div class="slide">
                                    <h4>ECG</h4>
                                    <img src="/img/ecg.png" alt="" id="img-work">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-primary" id="btn-work" href="/myworks">Mis proyectos</a>
                        </div>
                    </div>
                </div>
            </div>

    </body>


</body>

</html>