<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head.ejs') %>
        <title>
            <%= title %>
        </title>
</head>

<body class="body-work">

    <body class="body-work">
        <div class="container" id="work">
            <div class="row justify-content-center">
                <div class="col-md-6" id="square-work">
                    <div class="ml-3 description-skill" data-aos="fade-down" data-aos-duration="2000">
                        <h2 class="text-center" id="title-skill">
                            <span>P</span>ROYECTOS
                        </h2>
                        <div class="slider">
                            <div class="slide-track">
                                <div class="slide">
                                    <img src="/img/img-telemetric.png" alt="" id="img-work">
                                </div>
                                <div class="slide">
                                    <img src="/img/img-medic.png" alt="" id="img-work">
                                </div>
                                <div class="slide">
                                    <img src="/img/img-drones.png" alt="" id="img-work">
                                </div>
                                <div class="slide">
                                    <img src="/img/img-poke.png" alt="" id="img-work">
                                </div>
                                <div class="slide">
                                    <img src="/img/img-telemetric.png" alt="" id="img-work">
                                </div>
                                <div class="slide">
                                    <img src="/img/img-medic.png" alt="" id="img-work">
                                </div>
                                <div class="slide">
                                    <img src="/img/img-drones.png" alt="" id="img-work">
                                </div>
                            </div>
                        </div>
                        <div class="container d-flex justify-content-center">
                            <a class="btn btn-primary" id="btn-work" href="/myworks">Mis proyectos</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>


</body>

</html>