* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    /* background-image: url('/img/forest1.jpg'); */
    background: #000113;
    background-position: center left;
    background-size: cover;
    width: 100vw;
    height: 100%;
}

/* INDEX.EJS */

section {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #151515;
}

#gif-home {
    display: grid;
    place-items: center;
}

/* section h2 {
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
    line-height: 100vh;
    font-size: 10vw;
    color: antiquewhite;
    font-weight: 700;
} */

.banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    z-index: 99;
}

/* .shadow {
    position: absolute;
    bottom: 100%;
    height: 300px;
    width: 100%;
    left: 0;
    z-index: 200;
    background-color: blue;
    background: linear-gradient(to top, #383838, transparent)
} */

.banner .blocks {
    position: relative;
    display: block;
    /* width: 5.197vw;
    height: 5.197vw; */
    width: 5vw;
    height: 5vw;
    animation: animate 2s ease-in-out forwards;
}

.banner .blocks:nth-child(even) {
    animation: animate 1s ease-in-out forwards;
}

.banner .blocks:nth-child(7n+3) {
    animation: animate 2.5s ease-in-out forwards;
}

.banner .blocks:nth-child(7n+7) {
    animation: animate 1.5s ease-in-out forwards;
}

@keyframes animate {
    0% {
        opacity: 0;
        top: 1000px;
    }

    50% {
        opacity: 1;
        /* background: linear-gradient(to top, #151515, transparent), url(/img/perfil-1.jpg); */
        background: url(/img/perfil-11.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    100% {
        opacity: 1;
        top: 0px;
        /* background: linear-gradient(to top, #151515, transparent), url(/img/perfil-1.jpg); */
        background: url(/img/perfil-11.jpg);

        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
}

@media only screen and (max-width: 768px) {
    section h2 {
        font-size: 50px;
    }

    .banner .blocks {
        width: 15vw;
        height: 15vw;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1052px) {
    section h2 {
        font-size: 50px
    }

    .banner .blocks {
        width: 20vw;
        height: 20vw;
    }
}

@media only screen and (max-width: 767px) {
    section h2 {
        font-size: 50px;
    }

    .banner .blocks {
        width: 20vw;
        height: 20vw;
    }
}

/* main {
    background-color: #151515;
    color: antiquewhite;
}

main h2 {
    padding: 20px;
}

p {
    padding: 20px;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: antiquewhite;
    font-weight: bold;
    font-size: 30px;
}

@media (max-width: 768px) {
    ul {
        right: 50px;
    }
}

@media (max-width: 480px) {
    ul {
        right: 70px;
    }
} */

/* .animated-link {
    opacity: 0;
    transform: translateX(100%);
    animation: animateLink 0.5s forwards;
    z-index: 1000;
}

@keyframes animateLink {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
} */


/* NAVBAR MENU */
.navigation {
    position: relative;
}

.navigation__checkbox {
    display: none;
}

.navigation__button {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: fixed;
    top: 40px;
    right: 40px;
    z-index: 2000;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s;
}

.navigation__background {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-image: radial-gradient(rgba(34, 33, 34, 0.5), rgba(90, 90, 90, 0.5));
    position: fixed;
    top: 45px;
    right: 45px;
    z-index: 1000;
    transition: all 0.5s cubic-bezier(0.86, 0, 0.07, 1);
}

.navigation__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    visibility: hidden;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.256, 1.55);
}

.show-ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
}

.navigation__link {
    display: inline-block;
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    font-weight: bold;
    padding: 20px;
    text-transform: uppercase;
    text-decoration: none;

    transition: all 0.4s;
}

.navigation__link:hover {
    color: #ffffff;
    transform: translateX(10px);
}

.navigation__checkbox:checked~.navigation__background {
    transform: scale(1.6);
    transform: scale(30);
}

.navigation__checkbox:checked~.navigation__nav {
    opacity: 1;
    visibility: visible;
    width: 100%;
}

.navigation__icon {
    position: relative;
    margin-top: 35px;
}

.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
    width: 25px;
    height: 3px;
    background: #ffffff;
    display: inline-block;
}

.navigation__icon::before,
.navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s;
}

.navigation__icon::before {
    top: -10px;
}

.navigation__icon::after {
    top: 10px;
}

.navigation__button:hover .navigation__icon::before {
    top: -12px;
}

.navigation__button:hover .navigation__icon::after {
    top: 12px;
}

.navigation__checkbox:checked+.navigation__button .navigation__icon {
    background: transparent;
}

.navigation__checkbox:checked+.navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg);
}

.navigation__checkbox:checked+.navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg);
}

/* ABOUT ME */

.about {
    position: relative;
}

#square-about {
    /* background-color: rgba(2, 24, 34, 0.1); */
    margin-top: 60px;
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    /* backdrop-filter: blur(2px); */
}

#title-about {
    color: #ffffff;
    margin-top: 30px;
    font-weight: bold;
    position: relative;
    z-index: 1;
}

#img-about {
    top: 40px;
    width: 200px;
    height: 200px;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    position: relative;
    display: flex;
    z-index: 1;
}

/* .description {
    padding-left: 70px;
} */

span {
    font-size: 1.5em;
    color: rgb(26, 143, 143);
}

p {
    font-size: 13px;
    font-weight: lighter;
    color: #fff;
}

#btn-about {
    background-color: rgba(40, 116, 116, 0.795);
    border: 1px solid rgba(59, 173, 173, 0.795);
    position: relative;
    z-index: 1;
}

/* SKILL */

#square-skill {
    /* background-color: rgba(2, 24, 34, 0.1); */
    margin-top: 100px;
    padding: 20px;
    width: 70%;
    border-radius: 5px;
    /* backdrop-filter: blur(2px); */
}

#title-skill {
    color: #ffffff;
    text-align: right;
    font-weight: bold;
    position: relative;
    z-index: 1;
}

.icon {
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    margin-top: 15px;
}

.fa-brands,
.fab,
.fas {
    margin-right: 10px;
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}

.fa-brands:hover,
.fab:hover,
.fas:hover {
    color: rgb(26, 143, 143);
    transform: translatey(-10px);
    -webkit-transform: translatey(-10px);
    -moz-transform: translatey(-10px);
}

.icon-container {
    align-items: center;
    transition: transform 0.5s;
}

.icon-container:hover {
    transform: translateY(-10px);
}

#blender-ico:hover,
#threejs-ico:hover {
    color: rgb(26, 143, 143);
}


/* ACHIEVEMENTS */

#square-achievements {
    /* background-color: rgba(2, 24, 34, 0.1); */
    margin-top: 100px;
    padding: 5%;
    border-radius: 5px;
    /* backdrop-filter: blur(2px); */
}

#square-achievements::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
}

#title-achievements {
    color: #ffffff;
    font-weight: bold;
}

h3 {
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 10px;
}

.timeline {
    margin: 3em auto;
    max-width: 34.15em;
}

.checkpoint {
    max-width: 34em;
    padding-top: 2em;
    padding-bottom: .3em;
    position: relative;
}

.checkpoint-info {
    border: 2px solid #888;
    border-radius: 1em;
    padding: 5px;
}

.checkpoint a {
    text-decoration: none
}

.checkpoint p {
    padding: 10px 20px 5px 20px;
}

.certifiqued-span {
    font-size: 12px;
}

#image-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
}

.image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#overlay-image {
    max-width: 70%;
    max-height: 70%;
    display: block;
    margin: 0 auto;
}

.close-icon {
    position: absolute;
    display: flex;
    top: 170px;
    right: 30px;
    font-size: 45px;
    color: #fff;
    cursor: pointer;
}

.checkpoint:nth-child(odd) {
    border-left: 3px solid #888;
    padding-left: 3em;
    transform: translateX(17em);
}

.checkpoint:nth-child(even) {
    border-right: 3px solid #888;
    padding-right: 3em;
    transform: translateX(-16.8em);
}

.checkpoint:nth-child(odd)::before,
.checkpoint:nth-child(even)::before {
    content: '';
    background: #888;
    width: 3em;
    height: 3px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.checkpoint:nth-child(odd)::before {
    left: 0;
}

.checkpoint:nth-child(even)::before {
    right: 0;
}

.checkpoint:nth-child(odd) div::before,
.checkpoint:nth-child(even) div::before {
    content: '';
    background: #ffffff;
    box-shadow: 0 0 0.5em #0d71fc;
    width: 0.8em;
    height: 0.8em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}

.checkpoint:nth-child(odd) div::before {
    left: -0.5em;
}

.checkpoint:nth-child(even) div::before {
    right: -0.5em;
}

@media screen and (max-width: 1150px) {
    .timeline {
        width: 80vw;
    }

    .timeline .checkpoint {
        width: 100%;
        transform: none;
        padding-left: 0;
        padding-right: 0;
        border: none;
    }

    .timeline .checkpoint::before {
        width: 3px;
        height: 2em;
        top: -0.1em;
        left: 50%;
        transform: translateX(-50%);
    }

    .timeline .checkpoint div::before {
        top: 0.5em;
        left: 50%;
        transform: translateX(-50%);
    }
}

/* WORK */

#square-work {
    /* background-color: rgba(2, 24, 34, 0.1); */
    margin-top: 50px;
    padding: 10px;
    width: 70%;
    position: relative;
    border-radius: 5px;
    /* backdrop-filter: blur(2px); */
}

.slider {
    height: 250px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.slide-track {
    display: flex;
    /* Ajusta el ancho según la cantidad de imágenes */
    animation: scroll 15s linear infinite;
    width: calc(250px * 3);
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    /* Ajusta el valor según la cantidad de imágenes */
    100% {
        transform: translateX(calc(-250px * 3));
    }
}


#img-work {
    width: 240px;
    height: 180px;
    transition: transform 1s;
}

#img-work:hover {
    transform: translateZ(20px);
}

#btn-work {
    background-color: rgba(40, 116, 116, 0.795);
    border: 1px solid rgba(59, 173, 173, 0.795);
}

/* MY WORKS */

#miBoton {
    color: aliceblue;
    text-decoration: none;
    position: fixed;
    top: 30px;
    right: 40px;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(26, 143, 143);
    padding: 17px 7px 17px 7px;
    border-radius: 50%;
}


.myworks-header {
    margin-bottom: 30px;
    padding: 0px 80px 0px 80px;
}

.myworks h2 {
    color: #ffffff;
    font-weight: bold;
    padding-top: 50px;
    margin-bottom: 80px;
}

#myworks-img-1 {
    margin-top: 50px;
    padding-bottom: 30px;
    width: 80%;
}

.myworks-img-right-1 h3 {
    font-size: 30px;
    font-weight: bold;
    line-height: 2;
    margin-left: -20px;
}

.myworks-img-right-1 p {
    font-weight: bold;
    line-height: 2;
    padding-bottom: 1px;
}

.myworks-img-right-1 a {
    color: rgb(240, 180, 152);
    text-decoration: none;
}

#myworks-span {
    font-size: 20px;
}

.footer-myworks {
    margin-top: 100px;
}

/* CONTACT */

#contact {
    margin-top: 100px;
    /* background-color: rgba(2, 24, 34, 0.1); */
    border-radius: 5px;
    /* backdrop-filter: blur(2px); */
}

#title-contact {
    padding-bottom: 30px;
    margin-top: 30px;
    color: #ffffff;
    font-weight: bold;
}

.form-container {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
}

label {
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
}

input[type="text"],
input[type="email"],
textarea {
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    color: white;
    padding: 5px;
    width: 100%;
    margin-bottom: 10px;
}

button {
    font-family: inherit;
    font-size: 13px;
    background: rgb(12, 78, 78);
    color: rgb(255, 255, 255);
    padding: 0.3em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    margin-bottom: 50px;
}

button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}

button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}

button:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

button:hover span {
    transform: translateX(5em);
}

button:active {
    transform: scale(0.95);
}

@keyframes fly-1 {
    from {
        transform: translateY(0.1em);
    }

    to {
        transform: translateY(-0.1em);
    }
}

#btn-contact {
    color: #ffffff;
}

/* FOOTER */

/* .square-footer {
    background-color: rgba(2, 24, 34, 0.1);
    padding: 10px;
    width: 40%;
    padding-top: 10px;
    border-radius: 5px;
    backdrop-filter: blur(2px);
} */

.social-icon a {
    color: #ffffff;
    font-size: 30px;
    margin: 0 10px;
    text-decoration: none;
}