* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    /* background-image: url('/img/forest1.jpg'); */
    background: #000113;
    background-position: center left;
    background-size: cover;
    width: 100vw;
    height: 100%;
}

/* NAVBAR MENU */
.navigation {
    position: relative;
}

.navigation__checkbox {
    display: none;
}

.navigation__button {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: fixed;
    top: 40px;
    right: 40px;
    z-index: 2000;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s;
}

.navigation__background {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-image: radial-gradient(rgba(34, 33, 34, 0.5), rgba(90, 90, 90, 0.5));
    position: fixed;
    top: 45px;
    right: 45px;
    z-index: 1000;
    transition: all 0.5s cubic-bezier(0.86, 0, 0.07, 1);
}

.navigation__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    visibility: hidden;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.256, 1.55);
}

.show-ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
}

.navigation__link {
    display: inline-block;
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    font-weight: bold;
    padding: 20px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.4s;
}

.navigation__link:hover {
    color: #ffffff;
    transform: translateX(10px);
}

.navigation__checkbox:checked~.navigation__background {
    transform: scale(1.6);
    transform: scale(45);
}

.navigation__checkbox:checked~.navigation__nav {
    opacity: 1;
    visibility: visible;
    width: 100%;
}

.navigation__icon {
    position: relative;
    margin-top: 35px;
}

.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
    width: 25px;
    height: 3px;
    background: #ffffff;
    display: inline-block;
}

.navigation__icon::before,
.navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s;
}

.navigation__icon::before {
    top: -10px;
}

.navigation__icon::after {
    top: 10px;
}

.navigation__button:hover .navigation__icon::before {
    top: -12px;
}

.navigation__button:hover .navigation__icon::after {
    top: 12px;
}

.navigation__checkbox:checked+.navigation__button .navigation__icon {
    background: transparent;
}

.navigation__checkbox:checked+.navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg);
}

.navigation__checkbox:checked+.navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg);
}

/* FOOTER */

.social-icon {
    margin-top: 60px;
}

.social-icon a {
    margin-top: 40px;
    color: #ffffff;
    font-size: 30px;
    margin: 0 10px;
    text-decoration: none;
}

.text-footer {
    color: #fff;
}