/* WORK */

#square-work {
    /* background-color: rgba(2, 24, 34, 0.1); */
    margin-top: 50px;
    width: auto;
    position: relative;
    border-radius: 5px;
    /* backdrop-filter: blur(2px); */
}

.slider {
    position: relative;
    margin: auto;
    width: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.slider h4 {
    color: #fff;
    text-align: center;
    margin-top: 50px;
    margin-bottom: -20px;
}

.slide-track {
    display: flex;
    animation: scroll 15s linear infinite;
    width: calc(250px * 3);
}

@media (max-width: 768px) {
    .slider {
        width: auto;
        /* Ancho automático para adaptarse al contenido */
    }

    .slide-track {
        display: block;
        /* Cambia a display bloque para mostrar solo una imagen */
        animation: none;
        /* Detiene la animación */
        width: 240px;
        /* Ancho de una sola imagen */
        transform: translateX(0);
        /* Reinicia la posición */
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    /* Ajusta el valor según la cantidad de imágenes */
    100% {
        transform: translateX(calc(-250px * 3));
    }
}

#img-work {
    width: 240px;
    height: 180px;
    transition: transform 1s;
}

#img-work:hover {
    transform: translateZ(20px);
}

#btn-work {
    margin-top: 30px;
    background-color: rgba(40, 116, 116, 0.795);
    border: 1px solid rgba(59, 173, 173, 0.795);
}